* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  height: 6vh;
  display: flex;
  background-color: #ffffff;
  align-items: center;
  margin-left: -50px;
  border-bottom: 1px solid #f2f2f2;
}

.navbar__logo {
  margin-left: 80px;
  cursor: pointer;
}

.navbar__search {
  display: flex;
  width: 200px;
  height: 40px;
}

.navbar__search__icon {
  position: relative;
  left: 30px;
  top: 10px;
}

.navbar__search__input {
  box-sizing: border-box;
  text-align: start;
  border-radius: 20px;
  width: 100%;
  font-size: 10px;
  border: none;
  background: rgba(128, 128, 128, 0.116);
  padding: 12px 20px 12px 40px;
}

.navbar__write {
  display: flex;
  align-items: center;
  margin-left: 1280px;
}

.navbar__write p {
  padding: 5px;
}

.navbar__bellicon {
  margin-left: 20px;
  margin-top: 5px;
}

.navbar__profile {
  background-image: url("./profile.jpeg");
  background-position: center;
  background-size: cover;
  height: 32px;
  width: 32px;
  border: 1px solid black;
  border-radius: 50%;
  margin-left: 25px;
}

/* ---------------------main__section------------------------------*/

.main {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.main__blog__section {
  width: 700px;
  height: 900px;
  text-align: center;
  font-size: 18px;
}

.main__staff__picks {
  width: 400px;
  height: 900px;
  font-size: 18px;
  /* border: 1px solid lightblue; */
}

.blog__section__header {
  margin: auto;
  height: 60px;
  width: 600px;
  margin-top: 20px;
  margin-right: 10px;
  float: left;
}

.header__ul {
  border-bottom: 1px solid #f2f2f2;
  color: #6b6b6b;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.header_li {
  padding: 10px;
  margin: 0px;
  padding: 0px;
}

.main__blog__scoll__section {
  height: 800px;
  width: 600px;
}

.scroll__section__publisher--1 {
  margin-top: 40px;
  height: 202px;
  width: 600px;
  border-bottom: 1px solid #f2f2f2;
}

.publisher__image {
  display: flex;
  margin-left: 5px;
  height: 15px;
  width: 15px;
  float: left;
}

.publisher__text {
  font-size: 13px;
  line-height: 15px;
  display: flex;
  padding-left: 5px;
  float: left;
}

.publisher__text--1 {
  text-align-last: left;
  float: left;
  padding-left: 4px;
}

.publisher__text--2 {
  margin: 10px;
  text-align-last: left;
  color: #6b6b6b;
  float: left;
  position: relative;
}

.publisher__svg--1 {
  float: inline-start;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 120px;
  margin-left: 10px;
}

.publisher__text--3 {
  float: inline-start;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 120px;
  margin-left: 30px;
  font-size: 13px;
}

.publisher__svg--2{
  float: inline-start;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 120px;
  margin-left: 110px;
}

.publisher__text--4{
  float: inline-start;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 120px;
  margin-left: 130px;
  font-size: 13px;
}

.publisher__svg--3{
  float: inline-start;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 120px;
  margin-left: 180px;
}

.publisher__text--5{
  float: inline-start;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 120px;
  margin-left: 200px;
  font-size: 13px;
}

.publisher__image--1{
  margin-top: 30px;
  height: 100px;
  width: 150px;
}

/* -----------publisher_section--2------------------*/


.scroll__section__publisher--2 {
  margin-top: 40px;
  height: 202px;
  width: 600px;
  border-bottom: 1px solid #f2f2f2;
}

.publisher__image {
  display: flex;
  margin-left: 5px;
  height: 15px;
  width: 15px;
  float: left;
}

.publisher__text {
  font-size: 13px;
  line-height: 15px;
  display: flex;
  padding-left: 5px;
  float: left;
}

.publisher__text--1 {
  text-align-last: left;
  float: left;
  padding-left: 4px;
}

.publisher__text--2 {
  margin: 10px;
  text-align-last: left;
  color: #6b6b6b;
  float: left;
  position: relative;
}

.publisher__svg--1 {
  float: inline-start;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 120px;
  margin-left: 10px;
}

.publisher__text--3 {
  float: inline-start;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 120px;
  margin-left: 30px;
  font-size: 13px;
}

.publisher__svg--2{
  float: inline-start;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 120px;
  margin-left: 110px;
}

.publisher__text--4{
  float: inline-start;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 120px;
  margin-left: 130px;
  font-size: 13px;
}

.publisher__svg--3{
  float: inline-start;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 120px;
  margin-left: 180px;
}

.publisher__text--5{
  float: inline-start;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 120px;
  margin-left: 200px;
  font-size: 13px;
}

.publisher__image--1{
  margin-top: 30px;
  height: 100px;
  width: 150px;
}


/* --------------publisher__section--3-----------------*/

.scroll__section__publisher--3 {
  margin-top: 40px;
  height: 202px;
  width: 600px;
  border-bottom: 1px solid #f2f2f2;
}

.publisher__image {
  display: flex;
  margin-left: 5px;
  height: 15px;
  width: 15px;
  float: left;
}

.publisher__text {
  font-size: 13px;
  line-height: 15px;
  display: flex;
  padding-left: 5px;
  float: left;
}

.publisher__text--1 {
  text-align-last: left;
  float: left;
  padding-left: 4px;
}

.publisher__text--2 {
  margin: 10px;
  text-align-last: left;
  color: #6b6b6b;
  float: left;
  position: relative;
}

.publisher__svg--1 {
  float: inline-start;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 120px;
  margin-left: 10px;
}

.publisher__text--3 {
  float: inline-start;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 120px;
  margin-left: 30px;
  font-size: 13px;
}

.publisher__svg--2{
  float: inline-start;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 120px;
  margin-left: 110px;
}

.publisher__text--4{
  float: inline-start;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 120px;
  margin-left: 130px;
  font-size: 13px;
}

.publisher__svg--3{
  float: inline-start;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 120px;
  margin-left: 180px;
}

.publisher__text--5{
  float: inline-start;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 120px;
  margin-left: 200px;
  font-size: 13px;
}

.publisher__image--1{
  margin-top: 30px;
  height: 100px;
  width: 150px;
}


/* ---------------publisher_section--4---------------*/

.scroll__section__publisher--4 {
  margin-top: 40px;
  height: 202px;
  width: 600px;
  border-bottom: 1px solid #f2f2f2;
}

.publisher__image {
  display: flex;
  margin-left: 5px;
  height: 15px;
  width: 15px;
  float: left;
}

.publisher__text {
  font-size: 13px;
  line-height: 15px;
  display: flex;
  padding-left: 5px;
  float: left;
}

.publisher__text--1 {
  text-align-last: left;
  float: left;
  padding-left: 4px;
}

.publisher__text--2 {
  margin: 10px;
  text-align-last: left;
  color: #6b6b6b;
  float: left;
  position: relative;
}

.publisher__svg--1 {
  float: inline-start;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 120px;
  margin-left: 10px;
}

.publisher__text--3 {
  float: inline-start;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 120px;
  margin-left: 30px;
  font-size: 13px;
}

.publisher__svg--2{
  float: inline-start;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 120px;
  margin-left: 110px;
}

.publisher__text--4{
  float: inline-start;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 120px;
  margin-left: 130px;
  font-size: 13px;
}

.publisher__svg--3{
  float: inline-start;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 120px;
  margin-left: 180px;
}

.publisher__text--5{
  float: inline-start;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 120px;
  margin-left: 200px;
  font-size: 13px;
}

.publisher__image--1{
  margin-top: 30px;
  height: 100px;
  width: 150px;
}

/* ------------------staff__picks ------------------ */

.main__staff__picks__head{
  margin-top: 20px;
  margin-left: 20px;
}

.picks__head__image--1{
  display: flex;
  margin-left: 20px;
  height: 15px;
  width: 15px;
  float: left;
}


.picks__text--1{
  font-size: 13px;
  line-height: 15px;
  display: flex;
  padding-left: 5px;
  float: left;
}

.picks__text--2{
  line-height: 15px;
  display: flex;
  padding-left: 20px;
  float: left;
  margin-top: 10px;
  font-size: 15px;
}

.picks__text--3{
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 70px;
  margin-left: 20px;
  font-size: 13px;
  color: #878787;
}
.picks__head__image--2{
  height: 20px;
  width: 20px;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 90px;
  margin-left: 20px;
  font-size: 13px;
  border-radius: 50px;
}

.picks__text--4{
  height: 20px;
  width: 20px;
  margin-top: 95px;
  margin-left: 40px;
  font-size: 13px;
  white-space: nowrap;
}

.picks__text--5{
  font-size: 15px;
  margin-top: 10px;
  margin-left: 20px;
}
.picks__text--6{
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 13px;
  color: #878787;
}


.picks__head__image--3{
  height: 20px;
  width: 20px;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 50px;
  margin-left: 20px;
  font-size: 13px;
  border-radius: 50px;
}

.picks__text--7{
  height: 20px;
  width: 20px;
  margin-top: 55px;
  margin-left: 40px;
  font-size: 13px;
  white-space: nowrap;
}

.picks__text--8{
  font-size: 15px;
  margin-top: 10px;
  margin-left: 20px;
}

.picks__svg--1 {
  float: inline-start;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 15px;
  margin-left: 20px;
}

.picks__text--9 {
  float: inline-start;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 15px;
  margin-left: 40px;
  font-size: 13px;
}

.picks__text--10{
  position: absolute;
  margin-top: 40px;
  margin-left: 20px;
  font-size: 13px;
  color: #878787;
  cursor: pointer;
}

.main__staff__picks__head--2{
  margin-top: 80px;
  margin-left: 20px;
}

.picks__heads__topics {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px; 
  max-width: 250px; 
  margin-left: 20px;
  margin-top: 15px;
}

.heads__topic {
  background-color: #f2f2f2;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 14px;
  white-space: nowrap; 
}

.picks__text--11{
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 13px;
  color: #878787;
  cursor: pointer;
}

.head__follow{
  height: 70px;
  width: 300px;
  border: 1px solid black;
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
}

.head__follow__image{
  border-radius: 50px;
  height: 35px;
  width: 35px;
  margin-right: 10px;
}



